@media (max-width: 600px) {
  #sliderStyling {
    appearance: none;
    -webkit-appearance: none;
  }
  #sliderStyling::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    height: 55;
    width: 55;
    border-radius: 50;
  }
}
