@media (max-width: 600px){
#sliderStyling {
    appearance: none;
    -webkit-appearance: none;

}
#sliderStyling::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    height: 35;
    width: 35;
    border-radius: 25;
}
} 